* {
    margin: 0;
    padding: 0;
}

body,
html {
    overflow: hidden; /* Hide scrollbars */
    width: 100%;
    height: 100%;
}

canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

#container {
    position: relative;
}

/* ---- tsparticles container ---- */
#tsparticles {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

@keyframes myAnimation {
    0% {
        opacity: 1;
    }
    80% {
        opacity: 0.5;
    }
    100% {
        display: none;
        opacity: 0;
    }
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-15px);
    }
}

#hold {
    font-size: large;
    text-align: center;
    margin-top: 20vh;
    margin: auto;
    width: 50%;
    padding: 5%;
    animation-name: myAnimation;
    animation-duration: 6000ms;
    animation-fill-mode: forwards;
}
